USE [master]
GO
/****** Object:  Database [TourDB]    Script Date: 9/17/2026 6:56:15 PM ******/
CREATE DATABASE [TourDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TourDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\TourDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TourDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\TourDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TourDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TourDB]
GO
/****** Object:  User [tour_user]    Script Date: 9/17/2026 6:56:15 PM ******/
CREATE USER [tour_user] FOR LOGIN [tour_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [tour_user]
GO
/****** Object:  Table [dbo].[AppUser]    Script Date: 9/17/2026 6:56:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUser](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[email] [varchar](254) NULL,
	[number] [varchar](11) NOT NULL,
	[role] [varchar](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 9/17/2026 6:56:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[bookingID] [int] IDENTITY(1,1) NOT NULL,
	[tourID] [int] NOT NULL,
	[userID] [int] NOT NULL,
	[booking_date] [datetime2](7) NOT NULL,
	[status] [varchar](8) NOT NULL,
	[num_people] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportMessage]    Script Date: 9/17/2026 6:56:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportMessage](
	[messageID] [int] IDENTITY(1,1) NOT NULL,
	[threadID] [int] NOT NULL,
	[sender] [int] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[sent_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[messageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportThread]    Script Date: 9/17/2026 6:56:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportThread](
	[threadID] [int] IDENTITY(1,1) NOT NULL,
	[created_by] [int] NOT NULL,
	[tourID] [int] NULL,
	[assigned_manager] [int] NULL,
	[status] [varchar](6) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[threadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tour]    Script Date: 9/17/2026 6:56:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tour](
	[tourID] [int] IDENTITY(1,1) NOT NULL,
	[tour_name] [nvarchar](50) NOT NULL,
	[source] [nvarchar](50) NOT NULL,
	[destination] [nvarchar](50) NOT NULL,
	[start_time] [datetime2](7) NOT NULL,
	[day_length] [int] NOT NULL,
	[capacity] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[status] [varchar](10) NOT NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[tourID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TourImg]    Script Date: 9/17/2026 6:56:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourImg](
	[imageID] [int] IDENTITY(1,1) NOT NULL,
	[tourID] [int] NOT NULL,
	[path] [nvarchar](255) NOT NULL,
	[label] [varchar](9) NOT NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[imageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [UX_Booking_ActivePerUser]    Script Date: 9/17/2026 6:56:16 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Booking_ActivePerUser] ON [dbo].[Booking]
(
	[tourID] ASC,
	[userID] ASC
)
WHERE ([status]='accepted')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_TourImg_Banner]    Script Date: 9/17/2026 6:56:16 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_TourImg_Banner] ON [dbo].[TourImg]
(
	[tourID] ASC
)
WHERE ([label]='banner')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT (sysdatetime()) FOR [booking_date]
GO
ALTER TABLE [dbo].[SupportMessage] ADD  DEFAULT (sysdatetime()) FOR [sent_at]
GO
ALTER TABLE [dbo].[SupportThread] ADD  DEFAULT ('open') FOR [status]
GO
ALTER TABLE [dbo].[SupportThread] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([tourID])
REFERENCES [dbo].[Tour] ([tourID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[AppUser] ([userID])
GO
ALTER TABLE [dbo].[SupportMessage]  WITH CHECK ADD FOREIGN KEY([sender])
REFERENCES [dbo].[AppUser] ([userID])
GO
ALTER TABLE [dbo].[SupportMessage]  WITH CHECK ADD FOREIGN KEY([threadID])
REFERENCES [dbo].[SupportThread] ([threadID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SupportThread]  WITH CHECK ADD FOREIGN KEY([assigned_manager])
REFERENCES [dbo].[AppUser] ([userID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SupportThread]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[AppUser] ([userID])
GO
ALTER TABLE [dbo].[SupportThread]  WITH CHECK ADD FOREIGN KEY([tourID])
REFERENCES [dbo].[Tour] ([tourID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TourImg]  WITH CHECK ADD FOREIGN KEY([tourID])
REFERENCES [dbo].[Tour] ([tourID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AppUser]  WITH CHECK ADD CHECK  (([number] like '09%' AND len([number])=(11)))
GO
ALTER TABLE [dbo].[AppUser]  WITH CHECK ADD CHECK  (([role]='manager' OR [role]='booker'))
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD CHECK  (([num_people]>(0)))
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD CHECK  (([status]='canceled' OR [status]='failed' OR [status]='accepted'))
GO
ALTER TABLE [dbo].[SupportThread]  WITH CHECK ADD CHECK  (([status]='closed' OR [status]='open'))
GO
ALTER TABLE [dbo].[Tour]  WITH CHECK ADD CHECK  (([capacity]>(0)))
GO
ALTER TABLE [dbo].[Tour]  WITH CHECK ADD CHECK  (([day_length]>(0)))
GO
ALTER TABLE [dbo].[Tour]  WITH CHECK ADD CHECK  (([price]>(0)))
GO
ALTER TABLE [dbo].[Tour]  WITH CHECK ADD CHECK  (([status]='pending' OR [status]='passed' OR [status]='canceled'))
GO
ALTER TABLE [dbo].[TourImg]  WITH CHECK ADD CHECK  (([label]='ext' OR [label]='secondary' OR [label]='banner'))
GO
USE [master]
GO
